img{
    width: 100%;
    height: 100%;
}

.row div{
    flex: 1;
}

.row{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.vertical-collage img{
      height: 50%;
}
.box-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2px;
    height: 50%;
    
}

@media screen and (max-width:576px){

    .row{
        flex-direction: column;
    }
    
}

